{{#each imports}}
import {{import}} from "{{from}}"
{{/each}}

/**
  * @typedef {Object} Props
      {{#each props}}
  * @prop { {{~jsdocType~}} } {{propName}},
      {{/each}}
  */

/**
  * @class
  * @extends {React.Component<Props>}
  */
export default class {{className}} extends React.Component {

  static propTypes = {
    {{#each props}}
    {{propName}}: {{propType}},
    {{/each}}
  }

  render() {
    const content = <span>{{content}}</span>
    return <{{wrapperTag}} className={
    {{~#if isPage~}}
      css.container
    {{~else~}}
      classnames(css.container, this.props.className)
    {{~/if~}}
      }>
      {content}
    </{{wrapperTag}}>
  }

}